<div class="container">
	<div class="row about">
		<div class="welcome">
			<h1>Welcome to
				<span class="glyphicon glyphicon-book"><span class="about-booker"><strong>Bookers!</strong></span>
					</span>
			</h1>
		</div>
	</div>
</div>